@use './common/common.scss';
@import "./common/reset.css";
@import "./common/font.css";

.container{
  padding: 0 26px;
  margin: 0 auto;
  max-width: 1440px;
  @media (min-width: 768px) {
    padding: 0 60px;
  }
}

header{
  .current{
    color: #F0145A;
    text-decoration: underline;
  }

  .lang-buttons button{
    color: #B3B3BA;
  }

  .flex{
    justify-content: space-between;
  }

  .img{
    position: absolute;
    margin-top: 50px;
    z-index: 16;
    width: 207px;
    height: 31px;
    color: #B3B3BA;
    @media (min-width: 680px) {
      position: relative;
    }
    @media (min-width: 950px) {
      width: 407px;
      height: 63px;
    }
  }

  .nav {
    justify-content: flex-end;
    margin-top: 16px;
    align-items: center;
    font-size: 15px;
    line-height: 15px;
    text-align: right;
    color: #24A3FF;
    opacity: 0;
    @media (min-width: 680px) {
      opacity: 1;
      gap: 15px;
      font-size: 18px;
      line-height: 21px;
    }
  }

  a:hover{
    transition: all 0.3s linear;
    color: #F0145A;;
  }

  b{
    font-size: 14px;
    line-height: 17px;
    @media (min-width: 1064px){
      font-size: 16px;
      line-height: 19px;
    }
  }

  ul{
    list-style-type: none;
    @media screen and (min-width: 1121px){
      list-style-type: inherit;
    }
  }

  li {
    color: #B3B3BA;
  }

  .mobile{
    display: inline-block;
    @media screen and (max-width: 1064px){
      display: none;
    }
  }

  .social-block {
    justify-content: space-between;
    gap: 20px;
    &__list {
      color: #B3B3BA;
      align-items: center;
      list-style-position: inside;
      gap: 10px;
    }
  }

  .facebook-link {
    width: 24px;
    height: 24px;
    position: relative;
    top: 3px;
    color: #B3B3BA;
  }

  .burger-wrapper{
    position: relative;
    display: block;
    @media (min-width: 680px) {
      display: none;
    }
  }
  .burger-wrapper .checkbox {
    position: absolute;
    display: block;
    height: 40px;
    width: 32px;
    right: -24px;
    top: -18px;
    opacity: 0;
    z-index: 15;
    cursor: pointer;
    @media (min-width: 430px) {
      right: -93px;
    }
    @media (min-width: 550px) {
      right: -223px;
    }
  }
  .burger-wrapper .burger-list {
    padding-top: 196px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    height: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: #F0145A;
    gap: 10px;
    z-index: 10;
    color: #000000;
    .burger-list {
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      color: #323264;

    }
  }
  .burger-wrapper .hamburger-lines {
    height: 32px;
    width: 32px;
    top: -14px;
    position: absolute;
    right: -24px;
    z-index: 12;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width: 430px) {
      right: -93px;
    }
    @media (min-width: 550px) {
      right: -223px;
    }
  }
  .burger-wrapper .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #323264;
  }
  .burger-wrapper input[type="checkbox"]:checked ~ .burger-list {
    transform: translateX(0);
  }
}

main{
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 413px);
    grid-gap: 20px;
    align-items: flex-start;
    @media screen and (max-width: 768px){
      grid-template-columns: 1fr;
      grid-template-rows: 120px;
      align-items: center;
    }

    .block {
      padding-bottom: 20px;
      background: common.$white;
      border-radius: 10px;
    }
    .no-img{
      padding: 20px 20px 0 20px;
    }
    img{
      width: 100%;
    }

    .block:nth-child(2) {
      grid-row: span 2;
    }

    .block:nth-child(3) {
      grid-row: span 3;
    }

    .block:nth-child(4) {
      grid-row: span 4;
    }

    .block:nth-child(5) {
      grid-row: span 5;
    }
  }
  button{
    background: #24A3FF;
    box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
    border-radius: 12px;
    width: 250px;
    height: 50px;
    align-items: center;
    text-align: center;
    margin: 40px auto;
    display: block;
    line-height: 17px;
    color: #FFFFFF;
    }
}

footer {
  padding-top: 30px;
  background: #F5F5FA;
  position: relative;

  .flex {
    display: flex;
    justify-content: space-between;
    margin: 0 70px;
    @media screen and (max-width: 1020px) {
      justify-content: center;
      flex-direction: column;
      text-align: center;
      gap: 20px;
    }
  }

  .facebook-link {
    width: 24px;
    height: 24px;
    position: relative;
    top: 3px;
    @media (max-width: 1020px) {
      width: 38px;
      height: 38px;
    }
  }

  .social-block {
    align-items: center;
    gap: 13px;

    &__list {
      color: common.$main;
      align-items: center;
      list-style-position: inside;
      gap: 17px;
    }
  }

  .blue {
    color: common.$blue-regular;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    order: 2;
  }

  p {
    color: common.$gray-text;
    font-size: 16px;
    line-height: 20px;
  }

  .contact {
    display: flex;
    justify-content: left;
    margin: 0 70px;
    padding-top: 30px;
    @media screen and (max-width: 1020px) {
      justify-content: center;
      flex-direction: column;
      text-align: center;
      gap: 20px;
      padding-bottom: 118px;
    }
  }

  li {
    list-style-type: none;
    position: relative;
  }

  .marker:after {
    content: "";
    background: #B3B3BA;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: -12px;
    @media screen and (max-width: 1020px) {
      display: none;
    }
  }
}