@import "./common/reset.css";
@import "./common/font.css";
body {
  font-family: "TT Norms", sans-serif;
  font-size: 18px;
  line-height: 1.44;
  color: #000000;
}

p {
  font-size: 16px;
}

.hero {
  font-size: 32px;
  line-height: 38px;
}

h1 {
  font-size: 38px;
  line-height: 46px;
}

h2 {
  font-size: 22px;
  line-height: 26px;
}

h3 {
  font-size: 18px;
  line-height: 21px;
}

h3.caps {
  font-size: 14px;
  line-height: 17px;
}

h4 {
  font-size: 18px;
  line-height: 21px;
}

.link {
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
  transition: all 0.3s;
}
.link:hover {
  color: #F0145A;
}

.btn {
  background: #24A3FF;
  color: #FFFFFF;
  box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  width: 100%;
  max-width: 250px;
  text-align: center;
  transition: all 0.3s;
  padding: 16px 24px 17px;
}
.btn:hover {
  box-shadow: 0 0 30px rgba(36, 163, 255, 0.5);
  background: #0085FF;
}
.btn:focus {
  background: #006CCF;
}

.container {
  padding: 0 20px;
}

.logo {
  color: #FFFFFF;
}
.logo.main {
  color: #323264;
}

.flex {
  display: flex;
}

.lang-buttons {
  align-items: center;
  gap: 4px;
}
.lang-buttons button {
  border-radius: 8px;
  background: transparent;
  padding: 5px 6px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 1px;
  color: #FFFFFF;
}
.lang-buttons button.active {
  background: #F0145A;
}

.slick-dots {
  position: absolute;
  list-style: none;
  bottom: -36px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 14px;
}
.slick-dots button, .slick-dots li {
  font-size: 0;
  width: 16px;
  height: 16px;
  background: transparent;
}
.slick-dots button:before {
  display: block;
  content: "";
  opacity: 0.2;
  background: #24A3FF;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: all 0.3s;
}
.slick-dots li.slick-active button:before {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1440px;
    padding: 0 60px;
    margin: 0 auto;
  }
  p {
    font-size: 18px;
  }
  .hero {
    font-size: 42px;
    line-height: 50px;
  }
  h2 {
    font-size: 32px;
    line-height: 38px;
  }
  h3 {
    font-size: 24px;
    line-height: 28px;
  }
}
.first-section {
  background: linear-gradient(128.63deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
  padding-top: 50px;
  min-height: 100vh;
  position: relative;
}
.first-section:after {
  background: linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%);
  width: 100%;
  content: "";
  height: 200px;
  position: absolute;
  z-index: 1;
  bottom: 0;
}
.first-section .anchor-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: transparent;
  transition: all 0.3s;
  z-index: 2;
}
.first-section .anchor-btn:hover {
  color: #F0145A;
}
.first-section .anchor-btn:hover .icon {
  stroke: transparent;
}
.first-section:before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
}
.first-section .logo {
  margin-top: 54px;
  z-index: 16;
  width: 77px;
  height: 31px;
}
@media screen and (min-width: 940px) {
  .first-section .logo {
    margin-top: 0;
    width: 155px;
    height: 62px;
  }
}
.first-section ul {
  list-style-type: none;
}
@media screen and (min-width: 940px) {
  .first-section ul {
    list-style-type: inherit;
  }
}
.first-section li {
  color: #FFFFFF;
}
.first-section .mobile {
  opacity: 0;
}
@media screen and (min-width: 940px) {
  .first-section .mobile {
    opacity: 1;
  }
}
.first-section header.flex {
  position: relative;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.first-section .nav {
  justify-content: flex-end;
  gap: 15px;
  margin-top: 16px;
  align-items: center;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #FFFFFF;
}
.first-section .social-block {
  justify-content: space-between;
}
.first-section .social-block__list {
  color: #FFFFFF;
  align-items: center;
  list-style-position: inside;
  gap: 10px;
}
@media screen and (min-width: 940px) {
  .first-section .social-block {
    align-items: center;
    gap: 13px;
  }
}
.first-section .facebook-link {
  width: 24px;
  height: 24px;
  position: relative;
  top: 3px;
}

.logo-wrapper {
  position: absolute;
  bottom: 0;
  max-width: 689px;
  max-height: 644px;
  width: 100%;
  height: 100%;
  right: 50%;
  transform: translate(50%, 0);
}
.logo-wrapper__content {
  position: relative;
  width: 100%;
  height: 100%;
}
.logo-wrapper .slash {
  opacity: 0;
}
.logo-wrapper .symbol-logo, .logo-wrapper .logo-text {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
.logo-wrapper .symbol-logo {
  z-index: 1;
}
.logo-wrapper .logo-text {
  z-index: 2;
  font-size: 38px;
  line-height: 45px;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  top: 17%;
  justify-content: center;
  height: 90px;
}
@media screen and (min-width: 940px) {
  .logo-wrapper .slash {
    opacity: 1;
  }
  .logo-wrapper .slash, .logo-wrapper .symbol-logo, .logo-wrapper .logo-text {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }
}

h1 {
  text-align: center;
  color: #FFFFFF;
  z-index: 10;
  padding-top: 7px;
  display: block;
  margin: 0 auto;
}

.nav {
  opacity: 0;
}
@media (min-width: 940px) {
  .nav {
    opacity: 1;
  }
}

.burger-wrapper {
  position: relative;
  display: block;
}
@media (min-width: 940px) {
  .burger-wrapper {
    display: none;
  }
}

.burger-wrapper .checkbox {
  position: absolute;
  display: block;
  height: 40px;
  width: 32px;
  right: 100px;
  top: -34px;
  opacity: 0;
  z-index: 15;
  cursor: pointer;
}

.burger-wrapper .burger-list {
  padding-top: 196px;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  height: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: #F0145A;
  gap: 10px;
  z-index: 10;
  color: #FFFFFF;
}
.burger-wrapper .burger-list .burger-list {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

.burger-wrapper .hamburger-lines {
  height: 32px;
  width: 32px;
  top: -26px;
  position: absolute;
  right: 100px;
  z-index: 12;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.burger-wrapper .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #FFFFFF;
}

.burger-wrapper input[type=checkbox]:checked ~ .burger-list {
  transform: translateX(0);
}

.second-section {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0px 0px 12px 12px;
  padding-bottom: 62px;
}
.second-section .top-block {
  display: flex;
  flex-direction: column;
}
@media (min-width: 940px) {
  .second-section .top-block {
    flex-direction: row;
    gap: 40px;
  }
}
.second-section .top-block .div-left {
  opacity: 0;
  margin-top: -550px;
}
@media (min-width: 940px) {
  .second-section .top-block .div-left {
    opacity: 1;
    margin-top: 0;
  }
}
.second-section .top-block .div-left h1 {
  font-size: 42px;
  text-align: center;
  color: #B3B3BA;
  line-height: 84px;
}
@media (min-width: 940px) {
  .second-section .top-block .div-left h1 {
    text-align: right;
    opacity: 1;
  }
}
.second-section .top-block .div-left .title {
  padding-top: 80px;
  font-size: 42px;
  line-height: 50px;
  color: #F0145A;
}
.second-section .top-block .line {
  opacity: 0;
}
@media (min-width: 940px) {
  .second-section .top-block .line {
    margin: 96px 30px;
    height: 360px;
    opacity: 1;
    border: 4px solid #E6E6F0;
  }
}
.second-section .top-block .div-right {
  padding-top: 56px;
  color: #B3B3BA;
  max-height: 600px;
}
.second-section .top-block .div-right h2 {
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
  padding-bottom: 20px;
  padding-top: 76px;
}
.second-section .title-main {
  color: #F0145A;
  font-size: 42px;
  line-height: 50px;
  width: 100%;
  text-align: left;
  padding-bottom: 68px;
}
.second-section p {
  font-size: 21px;
  line-height: 30px;
  color: #FFFFFF;
}
.second-section p .link {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.5;
  padding-top: 82px;
}
.second-section .block-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}
.second-section .block-main .item-main {
  max-width: 413px;
  min-width: 300px;
}
.second-section .block-main .item-main h3 {
  padding-bottom: 15px;
  padding-top: 20px;
  font-size: 24px;
  line-height: 28px;
  color: #24A3FF;
}
.second-section .block-main .item-main p {
  padding-bottom: 18px;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}

.slider-section {
  padding: 40px 0 77px;
}
.slider-section .slider {
  border-radius: 12px;
  background: #F5F5FA;
}
.slider-section .slider__item {
  color: #B3B3BA;
  position: relative;
}
.slider-section .slider__item img {
  width: 100%;
  height: 100%;
  max-width: 413px;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .slider-section .slider__item img {
    max-width: 60px;
    position: absolute;
    height: 60px;
    border-radius: 50%;
    bottom: 20px;
    left: 20px;
  }
}
@media screen and (max-width: 768px) {
  .slider-section .slider__item .small-text {
    padding-left: 70px;
  }
}
.slider-section .slider__item p {
  font-size: 16px;
  margin-top: 5px;
}
.slider-section .slider__item .caps {
  color: #24A3FF;
  margin-bottom: 3px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
}
.slider-section .slider__item .hero {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  font-weight: 700;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 20px;
}
.slider-section .slider__item > .flex {
  gap: 40px;
}
@media screen and (max-width: 768px) {
  .slider-section .slider__item > .flex {
    flex-direction: column;
  }
}
.slider-section .slider__item .rc {
  padding: 40px 0;
}
@media screen and (max-width: 768px) {
  .slider-section .slider__item .rc {
    order: -1;
    padding: 20px;
  }
}

.cases .cases-block {
  display: grid;
  grid-template-columns: repeat(3, minmax(320px, 1fr));
}
.cases .cases-block > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: #F5F5FA;
  border: 1px solid #FFFFFF;
  padding: 20px 20px 20px;
  height: 198px;
}
.cases .cases-block div:first-of-type {
  grid-column-start: 1;
  grid-column-end: 4;
  height: fit-content;
}
.cases h3 {
  font-size: 24px;
  line-height: 28px;
  color: #686887;
  padding: 0 20px;
}
.cases .main {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #F0145A;
  padding: 20px;
}
.cases p {
  font-size: 18px;
  line-height: 26px;
  color: #B3B3BA;
  padding: 20px;
}

.trust .wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 120px 120px 120px 120px;
}
.trust h3 {
  padding-top: 60px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
}
.trust .item {
  max-width: 440px;
  max-height: 120px;
}
.trust .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#articles {
  padding: 0 40px;
  max-height: 80vh;
  overflow-y: hidden;
  position: relative;
}
#articles:after {
  background: linear-gradient(180deg, rgba(245, 245, 250, 0) 0%, #F5F5FA 86.5%);
  width: 100%;
  content: "";
  height: 200px;
  position: absolute;
  z-index: 1;
  bottom: -5px;
}
#articles .link {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
  padding-bottom: 3px;
}
#articles h1 {
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  padding-bottom: 40px;
}
#articles .grid {
  display: grid;
  grid-template-columns: repeat(3, 413px);
  grid-gap: 20px;
  align-items: flex-start;
}
#articles .grid .block {
  padding: 20px;
  background: #FFFFFF;
  border-radius: 10px;
}
#articles .grid .block:nth-child(2) {
  grid-row: span 2;
}
#articles .grid .block:nth-child(3) {
  grid-row: span 3;
}
#articles .grid .block:nth-child(4) {
  grid-row: span 4;
}
#articles .grid .block:nth-child(5) {
  grid-row: span 5;
}
#articles h4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #24A3FF;
  padding-bottom: 10px;
}
#articles .date {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
  padding-bottom: 20px;
}
#articles .line {
  border: 4px solid #E6E6F0;
  margin-bottom: 20px;
  height: 1px;
}
#articles p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

footer {
  padding-top: 30px;
  background: #F5F5FA;
}
footer .flex {
  display: flex;
  justify-content: space-between;
  margin: 0 70px;
}
footer .social-block {
  align-items: center;
  gap: 13px;
}
footer .social-block .facebook-link {
  width: 24px;
  height: 24px;
  position: relative;
  top: 3px;
}
footer .social-block__list {
  color: #323264;
  align-items: center;
  list-style-position: inside;
  gap: 17px;
}
footer .blue {
  color: #24A3FF;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  order: 2;
}
footer p {
  color: #B3B3BA;
  font-size: 16px;
  line-height: 20px;
}
footer .contact {
  display: flex;
  justify-content: left;
  margin: 0 70px;
  padding-top: 30px;
}
footer li {
  list-style-type: none;
  position: relative;
}
footer .marker:after {
  content: "";
  background: #B3B3BA;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: -12px;
}

/*# sourceMappingURL=main.css.map */
