@import "./common/reset.css";
@import "./common/font.css";
body {
  font-family: "TT Norms", sans-serif;
  font-size: 18px;
  line-height: 1.44;
  color: #000000;
}

p {
  font-size: 16px;
}

.hero {
  font-size: 32px;
  line-height: 38px;
}

h1 {
  font-size: 38px;
  line-height: 46px;
}

h2 {
  font-size: 22px;
  line-height: 26px;
}

h3 {
  font-size: 18px;
  line-height: 21px;
}

h3.caps {
  font-size: 14px;
  line-height: 17px;
}

h4 {
  font-size: 18px;
  line-height: 21px;
}

.link {
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
  transition: all 0.3s;
}
.link:hover {
  color: #F0145A;
}

.btn {
  background: #24A3FF;
  color: #FFFFFF;
  box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  width: 100%;
  max-width: 250px;
  text-align: center;
  transition: all 0.3s;
  padding: 16px 24px 17px;
}
.btn:hover {
  box-shadow: 0 0 30px rgba(36, 163, 255, 0.5);
  background: #0085FF;
}
.btn:focus {
  background: #006CCF;
}

.container {
  padding: 0 20px;
}

.logo {
  color: #FFFFFF;
}
.logo.main {
  color: #323264;
}

.flex {
  display: flex;
}

.lang-buttons {
  align-items: center;
  gap: 4px;
}
.lang-buttons button {
  border-radius: 8px;
  background: transparent;
  padding: 5px 6px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 1px;
  color: #FFFFFF;
}
.lang-buttons button.active {
  background: #F0145A;
}

.slick-dots {
  position: absolute;
  list-style: none;
  bottom: -36px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 14px;
}
.slick-dots button, .slick-dots li {
  font-size: 0;
  width: 16px;
  height: 16px;
  background: transparent;
}
.slick-dots button:before {
  display: block;
  content: "";
  opacity: 0.2;
  background: #24A3FF;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: all 0.3s;
}
.slick-dots li.slick-active button:before {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1440px;
    padding: 0 60px;
    margin: 0 auto;
  }
  p {
    font-size: 18px;
  }
  .hero {
    font-size: 42px;
    line-height: 50px;
  }
  h2 {
    font-size: 32px;
    line-height: 38px;
  }
  h3 {
    font-size: 24px;
    line-height: 28px;
  }
}
.container {
  padding: 0 26px;
  margin: 0 auto;
  max-width: 1440px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 60px;
  }
}

header .current {
  color: #F0145A;
  text-decoration: underline;
}
header .lang-buttons button {
  color: #B3B3BA;
}
header .flex {
  justify-content: space-between;
}
header img {
  position: absolute;
  margin-top: 50px;
  z-index: 16;
  width: 240px;
  height: 31px;
  color: #B3B3BA;
}
@media (min-width: 680px) {
  header img {
    position: relative;
  }
}
@media (min-width: 950px) {
  header img {
    width: 407px;
    height: 63px;
  }
}
header .nav {
  justify-content: flex-end;
  margin-top: 16px;
  align-items: center;
  font-size: 15px;
  line-height: 15px;
  text-align: right;
  color: #24A3FF;
  opacity: 0;
}
@media (min-width: 680px) {
  header .nav {
    opacity: 1;
    gap: 15px;
    font-size: 18px;
    line-height: 21px;
  }
}
header a:hover {
  transition: all 0.3s linear;
  color: #F0145A;
}
header b {
  font-size: 14px;
  line-height: 17px;
}
@media (min-width: 1064px) {
  header b {
    font-size: 16px;
    line-height: 19px;
  }
}
header ul {
  list-style-type: none;
}
@media screen and (min-width: 1121px) {
  header ul {
    list-style-type: inherit;
  }
}
header li {
  color: #B3B3BA;
}
header .mobile {
  display: inline-block;
}
@media screen and (max-width: 1064px) {
  header .mobile {
    display: none;
  }
}
header .social-block {
  justify-content: space-between;
  gap: 20px;
}
header .social-block__list {
  color: #B3B3BA;
  align-items: center;
  list-style-position: inside;
  gap: 10px;
}
header .facebook-link {
  width: 24px;
  height: 24px;
  position: relative;
  top: 3px;
  color: #B3B3BA;
}
header .burger-wrapper {
  position: relative;
  display: block;
}
@media (min-width: 680px) {
  header .burger-wrapper {
    display: none;
  }
}
header .burger-wrapper .checkbox {
  position: absolute;
  display: block;
  height: 40px;
  width: 32px;
  right: -24px;
  top: -18px;
  opacity: 0;
  z-index: 15;
  cursor: pointer;
}
@media (min-width: 430px) {
  header .burger-wrapper .checkbox {
    right: -93px;
  }
}
@media (min-width: 550px) {
  header .burger-wrapper .checkbox {
    right: -223px;
  }
}
header .burger-wrapper .burger-list {
  padding-top: 196px;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  height: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: #F0145A;
  gap: 10px;
  z-index: 10;
  color: #000000;
}
header .burger-wrapper .burger-list .burger-list {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #323264;
}
header .burger-wrapper .hamburger-lines {
  height: 32px;
  width: 32px;
  top: -14px;
  position: absolute;
  right: -24px;
  z-index: 12;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header .burger-wrapper .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #323264;
}
header .burger-wrapper input[type=checkbox]:checked ~ .burger-list {
  transform: translateX(0);
}

main img {
  width: 335px;
  height: 405px;
  margin-top: 45px;
}
@media (min-width: 970px) {
  main img {
    width: 413px;
    height: 500px;
  }
}
@media (min-width: 768px) {
  main .item {
    display: flex;
    gap: 20px;
  }
}
main .item-small {
  min-width: 335px;
}
main h3 {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
  padding-bottom: 20px;
}
main h4 {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 13px;
}
@media (min-width: 768px) {
  main h4 {
    padding-top: 40px;
  }
}
@media (min-width: 970px) {
  main h4 {
    font-size: 42px;
    line-height: 50px;
  }
}
main .position {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #B3B3BA;
  padding-bottom: 0;
}
main p {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  padding-bottom: 20px;
}
main a {
  font-size: 16px;
  line-height: 19px;
  color: #24A3FF;
}
main a:hover {
  text-decoration: underline;
  font-weight: bold;
}
main .line {
  margin: 20px auto;
  border: 4px solid #E6E6F0;
}
main nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 768px) {
  main nav {
    gap: 5px;
  }
}
@media (min-width: 970px) {
  main nav {
    flex-direction: row;
    gap: 10px;
  }
}
@media (min-width: 1050px) {
  main nav {
    gap: 26px;
  }
}

footer {
  padding-top: 30px;
  background: #F5F5FA;
  position: relative;
}
footer .flex {
  display: flex;
  justify-content: space-between;
  margin: 0 70px;
}
@media screen and (max-width: 1020px) {
  footer .flex {
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
}
footer .facebook-link {
  width: 24px;
  height: 24px;
  position: relative;
  top: 3px;
}
@media (max-width: 1020px) {
  footer .facebook-link {
    width: 38px;
    height: 38px;
  }
}
footer .social-block {
  align-items: center;
  gap: 13px;
}
footer .social-block__list {
  color: #323264;
  align-items: center;
  list-style-position: inside;
  gap: 17px;
}
footer .blue {
  color: #24A3FF;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  order: 2;
}
footer p {
  color: #B3B3BA;
  font-size: 16px;
  line-height: 20px;
}
footer .contact {
  display: flex;
  justify-content: left;
  margin: 0 70px;
  padding-top: 30px;
}
@media screen and (max-width: 1020px) {
  footer .contact {
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding-bottom: 118px;
  }
}
footer li {
  list-style-type: none;
  position: relative;
}
footer .marker:after {
  content: "";
  background: #B3B3BA;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: -12px;
}
@media screen and (max-width: 1020px) {
  footer .marker:after {
    display: none;
  }
}

/*# sourceMappingURL=people.css.map */
